In [7]:
# ignore warnings
import warnings
warnings.filterwarnings("ignore")

# wrangling
import pandas as pd
import numpy as np

# visualizing
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns

# exploring
import scipy.stats as stats
import pandas_profiling

# modeling
from sklearn.cluster import KMeans
from sklearn.preprocessing import LabelEncoder

# 3D projection
from mpl_toolkits.mplot3d import Axes3D

pd.options.display.float_format = '{:20,.2f}'.format

# my modules
import acquire
import summarize
import prepare

# default pandas decimal number display format
pd.options.display.float_format = '{:20,.2f}'.format

### Acquire df

- Query brought in 77,381

In [8]:
df = acquire.get_zillow_data()

In [9]:
df.shape

(77381, 72)

### Summarize df

In [10]:
summarize.df_summary(df)

--- Shape: (77381, 72)
--- Info
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77381 entries, 0 to 77380
Data columns (total 72 columns):
county                          77381 non-null object
tax_rate                        77375 non-null float64
id                              77381 non-null int64
parcelid                        77381 non-null int64
airconditioningtypeid           24953 non-null float64
airconditioningdesc             24953 non-null object
architecturalstyletypeid        206 non-null float64
architecturalstyledesc          206 non-null object
basementsqft                    50 non-null float64
bathroomcnt                     77381 non-null float64
bedroomcnt                      77381 non-null float64
buildingclasstypeid             15 non-null float64
buildingclassdesc               15 non-null object
buildingqualitytypeid           49672 non-null float64
calculatedbathnbr               76772 non-null float64
calculatedfinishedsquarefeet    77185 non-null float64
decktypeid                      614 non-null float64
finishedfloor1squarefeet        6023 non-null float64
finishedsquarefeet12            73749 non-null float64
finishedsquarefeet13            41 non-null float64
finishedsquarefeet15            3009 non-null float64
finishedsquarefeet50            6023 non-null float64
finishedsquarefeet6             386 non-null float64
fips                            77381 non-null float64
state                           77381 non-null object
fireplacecnt                    8276 non-null float64
fullbathcnt                     76772 non-null float64
garagecarcnt                    25474 non-null float64
garagetotalsqft                 25474 non-null float64
hashottuborspa                  1538 non-null float64
heatingorsystemtypeid           49440 non-null float64
heatingorsystemdesc             49440 non-null object
latitude                        77381 non-null float64
longitude                       77381 non-null float64
lotsizesquarefeet               69142 non-null float64
poolcnt                         16137 non-null float64
poolsizesum                     867 non-null float64
pooltypeid10                    464 non-null float64
pooltypeid2                     1074 non-null float64
pooltypeid7                     15042 non-null float64
propertycountylandusecode       77381 non-null object
propertylandusetypeid           77381 non-null float64
propertylandusedesc             77381 non-null object
propertyzoningdesc              50331 non-null object
rawcensustractandblock          77381 non-null float64
regionidcity                    75910 non-null float64
regionidcounty                  77381 non-null float64
regionidneighborhood            30890 non-null float64
regionidzip                     77331 non-null float64
roomcnt                         77381 non-null float64
storytypeid                     50 non-null float64
storydesc                       50 non-null object
taxvaluedollarcnt               77380 non-null float64
threequarterbathnbr             10096 non-null float64
unitcnt                         50563 non-null float64
yardbuildingsqft17              2388 non-null float64
yardbuildingsqft26              70 non-null float64
yearbuilt                       77118 non-null float64
numberofstories                 17560 non-null float64
fireplaceflag                   172 non-null float64
structuretaxvaluedollarcnt      77269 non-null float64
assessmentyear                  77381 non-null float64
landtaxvaluedollarcnt           77379 non-null float64
taxamount                       77376 non-null float64
taxdelinquencyflag              2886 non-null object
taxdelinquencyyear              2886 non-null float64
typeconstructiontypeid          222 non-null float64
typeconstructiondesc            222 non-null object
censustractandblock             77137 non-null float64
transactiondate                 77381 non-null object
logerror                        77381 non-null float64
transactions                    77381 non-null int64
dtypes: float64(56), int64(3), object(13)
memory usage: 42.5+ MB
--- Descriptions
             county             tax_rate                   id  \
count         77381            77,375.00            77,381.00
unique            3                  nan                  nan
top     Los Angeles                  nan                  nan
freq          50551                  nan                  nan
mean            NaN                 0.01         1,495,138.90
std             NaN                 0.01           860,907.05
min             NaN                 0.00               349.00
25%             NaN                 0.01           752,070.00
50%             NaN                 0.01         1,497,932.00
75%             NaN                 0.01         2,240,535.00
max             NaN                 0.82         2,982,274.00

                   parcelid  airconditioningtypeid airconditioningdesc  \
count             77,381.00              24,953.00               24953
unique                  nan                    nan                   5
top                     nan                    nan             Central
freq                    nan                    nan               23133
mean          13,007,150.51                   1.81                 NaN
std            3,481,345.65                   2.97                 NaN
min           10,711,855.00                   1.00                 NaN
25%           11,538,305.00                   1.00                 NaN
50%           12,531,568.00                   1.00                 NaN
75%           14,211,831.00                   1.00                 NaN
max          167,689,317.00                  13.00                 NaN

        architecturalstyletypeid architecturalstyledesc         basementsqft  \
count                     206.00                    206                50.00
unique                       nan                      5                  nan
top                          nan           Contemporary                  nan
freq                         nan                    172                  nan
mean                        7.39                    NaN               679.72
std                         2.73                    NaN               689.70
min                         2.00                    NaN                38.00
25%                         7.00                    NaN               273.00
50%                         7.00                    NaN               515.00
75%                         7.00                    NaN               796.50
max                        21.00                    NaN             3,560.00

                bathroomcnt  ...  landtaxvaluedollarcnt            taxamount  \
count             77,381.00  ...              77,379.00            77,376.00
unique                  nan  ...                    nan                  nan
top                     nan  ...                    nan                  nan
freq                    nan  ...                    nan                  nan
mean                   2.30  ...             301,095.41             5,995.53
std                    1.00  ...             492,596.03             7,622.84
min                    0.00  ...                 161.00                19.92
25%                    2.00  ...              85,504.00             2,715.63
50%                    2.00  ...             203,372.00             4,450.69
75%                    3.00  ...             366,796.50             6,927.79
max                   18.00  ...          48,952,198.00           586,639.30

       taxdelinquencyflag   taxdelinquencyyear  typeconstructiontypeid  \
count                2886             2,886.00                  222.00
unique                  1                  nan                     nan
top                     Y                  nan                     nan
freq                 2886                  nan                     nan
mean                  NaN                14.09                    6.04
std                   NaN                 2.19                    0.56
min                   NaN                 3.00                    4.00
25%                   NaN                14.00                    6.00
50%                   NaN                15.00                    6.00
75%                   NaN                15.00                    6.00
max                   NaN                99.00                   13.00

        typeconstructiondesc    censustractandblock  transactiondate  \
count                    222              77,137.00            77381
unique                     4                    nan              265
top                    Frame                    nan       2017-06-30
freq                     219                    nan             1189
mean                     NaN  60,496,733,646,264.24              NaN
std                      NaN   1,535,241,981,138.57              NaN
min                      NaN  60,371,011,101,000.00              NaN
25%                      NaN  60,373,109,005,002.00              NaN
50%                      NaN  60,376,032,003,008.00              NaN
75%                      NaN  60,590,423,251,008.00              NaN
max                      NaN 483,030,105,084,015.00              NaN

                   logerror         transactions
count             77,381.00            77,381.00
unique                  nan                  nan
top                     nan                  nan
freq                    nan                  nan
mean                   0.02                 1.00
std                    0.17                 0.05
min                   -4.66                 1.00
25%                   -0.02                 1.00
50%                    0.01                 1.00
75%                    0.04                 1.00
max                    5.26                 3.00

[11 rows x 72 columns]
--- Nulls By Column
                              num_rows_missing     pct_rows_missing
county                                       0                 0.00
tax_rate                                     6                 0.00
id                                           0                 0.00
parcelid                                     0                 0.00
airconditioningtypeid                    52428                 0.68
airconditioningdesc                      52428                 0.68
architecturalstyletypeid                 77175                 1.00
architecturalstyledesc                   77175                 1.00
basementsqft                             77331                 1.00
bathroomcnt                                  0                 0.00
bedroomcnt                                   0                 0.00
buildingclasstypeid                      77366                 1.00
buildingclassdesc                        77366                 1.00
buildingqualitytypeid                    27709                 0.36
calculatedbathnbr                          609                 0.01
calculatedfinishedsquarefeet               196                 0.00
decktypeid                               76767                 0.99
finishedfloor1squarefeet                 71358                 0.92
finishedsquarefeet12                      3632                 0.05
finishedsquarefeet13                     77340                 1.00
finishedsquarefeet15                     74372                 0.96
finishedsquarefeet50                     71358                 0.92
finishedsquarefeet6                      76995                 1.00
fips                                         0                 0.00
state                                        0                 0.00
fireplacecnt                             69105                 0.89
fullbathcnt                                609                 0.01
garagecarcnt                             51907                 0.67
garagetotalsqft                          51907                 0.67
hashottuborspa                           75843                 0.98
...                                        ...                  ...
propertylandusedesc                          0                 0.00
propertyzoningdesc                       27050                 0.35
rawcensustractandblock                       0                 0.00
regionidcity                              1471                 0.02
regionidcounty                               0                 0.00
regionidneighborhood                     46491                 0.60
regionidzip                                 50                 0.00
roomcnt                                      0                 0.00
storytypeid                              77331                 1.00
storydesc                                77331                 1.00
taxvaluedollarcnt                            1                 0.00
threequarterbathnbr                      67285                 0.87
unitcnt                                  26818                 0.35
yardbuildingsqft17                       74993                 0.97
yardbuildingsqft26                       77311                 1.00
yearbuilt                                  263                 0.00
numberofstories                          59821                 0.77
fireplaceflag                            77209                 1.00
structuretaxvaluedollarcnt                 112                 0.00
assessmentyear                               0                 0.00
landtaxvaluedollarcnt                        2                 0.00
taxamount                                    5                 0.00
taxdelinquencyflag                       74495                 0.96
taxdelinquencyyear                       74495                 0.96
typeconstructiontypeid                   77159                 1.00
typeconstructiondesc                     77159                 1.00
censustractandblock                        244                 0.00
transactiondate                              0                 0.00
logerror                                     0                 0.00
transactions                                 0                 0.00

[72 rows x 2 columns]
--- Nulls By Row

   num_cols_missing    pct_cols_missing  num_rows
0                23  31.944444444444443         2
1                24   33.33333333333333        13
2                25   34.72222222222222        24
3                26   36.11111111111111        65
4                27                37.5       316
5                28   38.88888888888889       455
6                29   40.27777777777778      5270
7                30   41.66666666666667      3455
8                31   43.05555555555556      9891
9                32   44.44444444444444     12578
10               33   45.83333333333333     14783
11               34   47.22222222222222     13326
12               35   48.61111111111111      5147
13               36                50.0      5776
14               37  51.388888888888886      3620
15               38   52.77777777777778      1926
16               39  54.166666666666664       285
17               40   55.55555555555556       230
18               41   56.94444444444444        29
19               42  58.333333333333336        23
20               43   59.72222222222222        28
21               44  61.111111111111114        78
22               45                62.5        50
23               46  63.888888888888886         5
24               47   65.27777777777779         3
25               48   66.66666666666666         3
--- Value Counts
Los Angeles                         50551
Orange                              20593
Ventura                              6237
(-0.0017230000000000001, 0.0817]    77331
(0.0817, 0.163]                        33
(0.163, 0.245]                          4
(0.245, 0.327]                          3
(0.327, 0.408]                          1
(0.408, 0.49]                           1
(0.49, 0.572]                           1
(0.572, 0.653]                          0
(0.653, 0.735]                          0
(0.735, 0.816]                          1
(-2632.9260000000004, 298541.5]      7739
(298541.5, 596734.0]                 7682
(596734.0, 894926.5]                 7585
(894926.5, 1193119.0]                7694
(1193119.0, 1491311.5]               7827
(1491311.5, 1789504.0]               7813
(1789504.0, 2087696.5]               7794
(2087696.5, 2385889.0]               7698
(2385889.0, 2684081.5]               7710
(2684081.5, 2982274.0]               7839
(10554877.537, 26409601.2]          77350
(26409601.2, 42107347.4]                0
(42107347.4, 57805093.6]                0
(57805093.6, 73502839.8]                0
(73502839.8, 89200586.0]                1
(89200586.0, 104898332.2]               1
(104898332.2, 120596078.4]              0
                                    ...
2017-06-03                              1
2017-03-12                              1
2017-08-12                              1
2017-08-05                              1
2017-04-15                              1
2017-09-10                              1
2018-05-25                              1
2017-02-18                              1
2017-05-20                              1
2017-09-25                              1
(-4.666, -3.664]                        3
(-3.664, -2.672]                        1
(-2.672, -1.68]                        36
(-1.68, -0.688]                       142
(-0.688, 0.304]                     75340
(0.304, 1.296]                       1684
(1.296, 2.287]                        102
(2.287, 3.279]                         71
(3.279, 4.271]                          1
(4.271, 5.263]                          1
(0.997, 1.2]                        77186
(1.2, 1.4]                              0
(1.4, 1.6]                              0
(1.6, 1.8]                              0
(1.8, 2.0]                            191
(2.0, 2.2]                              0
(2.2, 2.4]                              0
(2.4, 2.6]                              0
(2.6, 2.8]                              0
(2.8, 3.0]                              4
Length: 2882, dtype: int64

- Here I use a function that takes in a dataframe of observations and attributes and returns a df where each row is an atttribute name, the first column is the number of rows with missing values for that attribute, and the second column is percent of total rows that have missing values for that attribute. Run the function and document takeaways from this on how you want to handle missing values.

In [12]:
summarize.nulls_by_col(df)

                              num_rows_missing     pct_rows_missing
county                                       0                 0.00
tax_rate                                     6                 0.00
id                                           0                 0.00
parcelid                                     0                 0.00
airconditioningtypeid                    52428                 0.68
airconditioningdesc                      52428                 0.68
architecturalstyletypeid                 77175                 1.00
architecturalstyledesc                   77175                 1.00
basementsqft                             77331                 1.00
bathroomcnt                                  0                 0.00
bedroomcnt                                   0                 0.00
buildingclasstypeid                      77366                 1.00
buildingclassdesc                        77366                 1.00
buildingqualitytypeid                    27709                 0.36
calculatedbathnbr                          609                 0.01
calculatedfinishedsquarefeet               196                 0.00
decktypeid                               76767                 0.99
finishedfloor1squarefeet                 71358                 0.92
finishedsquarefeet12                      3632                 0.05
finishedsquarefeet13                     77340                 1.00
finishedsquarefeet15                     74372                 0.96
finishedsquarefeet50                     71358                 0.92
finishedsquarefeet6                      76995                 1.00
fips                                         0                 0.00
state                                        0                 0.00
fireplacecnt                             69105                 0.89
fullbathcnt                                609                 0.01
garagecarcnt                             51907                 0.67
garagetotalsqft                          51907                 0.67
hashottuborspa                           75843                 0.98
...                                        ...                  ...
propertylandusedesc                          0                 0.00
propertyzoningdesc                       27050                 0.35
rawcensustractandblock                       0                 0.00
regionidcity                              1471                 0.02
regionidcounty                               0                 0.00
regionidneighborhood                     46491                 0.60
regionidzip                                 50                 0.00
roomcnt                                      0                 0.00
storytypeid                              77331                 1.00
storydesc                                77331                 1.00
taxvaluedollarcnt                            1                 0.00
threequarterbathnbr                      67285                 0.87
unitcnt                                  26818                 0.35
yardbuildingsqft17                       74993                 0.97
yardbuildingsqft26                       77311                 1.00
yearbuilt                                  263                 0.00
numberofstories                          59821                 0.77
fireplaceflag                            77209                 1.00
structuretaxvaluedollarcnt                 112                 0.00
assessmentyear                               0                 0.00
landtaxvaluedollarcnt                        2                 0.00
taxamount                                    5                 0.00
taxdelinquencyflag                       74495                 0.96
taxdelinquencyyear                       74495                 0.96
typeconstructiontypeid                   77159                 1.00
typeconstructiondesc                     77159                 1.00
censustractandblock                        244                 0.00
transactiondate                              0                 0.00
logerror                                     0                 0.00
transactions                                 0                 0.00

[72 rows x 2 columns]

#### Takeaways from nulls in columns function

- I can see that there are columns that have no data in them, and those I will certainly drop. 


- There are others that are more than 50% NULL values, and I'm going to drop those as well. That is too high of a percentage of Nulls to make the data meaningful.

In [13]:
summarize.nulls_by_row(df)

   num_cols_missing    pct_cols_missing  num_rows
0                23  31.944444444444443         2
1                24   33.33333333333333        13
2                25   34.72222222222222        24
3                26   36.11111111111111        65
4                27                37.5       316
5                28   38.88888888888889       455
6                29   40.27777777777778      5270
7                30   41.66666666666667      3455
8                31   43.05555555555556      9891
9                32   44.44444444444444     12578
10               33   45.83333333333333     14783
11               34   47.22222222222222     13326
12               35   48.61111111111111      5147
13               36                50.0      5776
14               37  51.388888888888886      3620
15               38   52.77777777777778      1926
16               39  54.166666666666664       285
17               40   55.55555555555556       230
18               41   56.94444444444444        29
19               42  58.333333333333336        23
20               43   59.72222222222222        28
21               44  61.111111111111114        78
22               45                62.5        50
23               46  63.888888888888886         5
24               47   65.27777777777779         3
25               48   66.66666666666666         3

- Write a function that takes in a dataframe and returns a dataframe with 3 columns: the number of columns missing, percent of columns missing, number of rows with n columns missing. Run the function and document takeaways from this on how you want to handle missing values.

In [14]:
summarize.nulls_by_row(df)

   num_cols_missing    pct_cols_missing  num_rows
0                23  31.944444444444443         2
1                24   33.33333333333333        13
2                25   34.72222222222222        24
3                26   36.11111111111111        65
4                27                37.5       316
5                28   38.88888888888889       455
6                29   40.27777777777778      5270
7                30   41.66666666666667      3455
8                31   43.05555555555556      9891
9                32   44.44444444444444     12578
10               33   45.83333333333333     14783
11               34   47.22222222222222     13326
12               35   48.61111111111111      5147
13               36                50.0      5776
14               37  51.388888888888886      3620
15               38   52.77777777777778      1926
16               39  54.166666666666664       285
17               40   55.55555555555556       230
18               41   56.94444444444444        29
19               42  58.333333333333336        23
20               43   59.72222222222222        28
21               44  61.111111111111114        78
22               45                62.5        50
23               46  63.888888888888886         5
24               47   65.27777777777779         3
25               48   66.66666666666666         3

#### Takeaways from the nulls by row function

- For my first iteration of the pipeline, I'm going to drop any rows that have missing values. 


- I will go back and add back and possibly impute values after my first iteration.

- This function will drop columns that are not 50% non-missing values and rows that are not 75% non-missing values

In [15]:
df = prepare.handle_missing_values(df)

In [16]:
df.isnull().sum()

county                              0
tax_rate                            6
id                                  0
parcelid                            0
bathroomcnt                         0
bedroomcnt                          0
buildingqualitytypeid           27633
calculatedbathnbr                 533
calculatedfinishedsquarefeet      120
finishedsquarefeet12             3556
fips                                0
state                               0
fullbathcnt                       533
heatingorsystemtypeid           27865
heatingorsystemdesc             27865
latitude                            0
longitude                           0
lotsizesquarefeet                8171
propertycountylandusecode           0
propertylandusetypeid               0
propertylandusedesc                 0
propertyzoningdesc              26987
rawcensustractandblock              0
regionidcity                     1460
regionidcounty                      0
regionidzip                        45
roomcnt                             0
taxvaluedollarcnt                   1
unitcnt                         26742
yearbuilt                         187
structuretaxvaluedollarcnt        102
assessmentyear                      0
landtaxvaluedollarcnt               1
taxamount                           5
censustractandblock               226
transactiondate                     0
logerror                            0
transactions                        0
dtype: int64